section{
    padding-left: 5rem;
}

.table{
    margin-left: 5rem;
    width:60rem;
}

#main_list .title{
    width:55rem;
}

th{
    text-align:center;
}

p{
    font-size: 20px;
}

.row{
    margin-bottom: 15px;
}

h1, thead{
    color: rgb(129,152, 97);
    font-weight: bolder;
}