body{
    padding: 0;
    margin: 0;
    min-width: 1000px;
    background-color: rgb(245,246,247);
}


h4{
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 650px;
    margin-right: 0;
}
p1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 600px;
    margin-right: 0;
    font-size: 60;
    text-align: center;
    color: rgb(129,152, 97) ;
    font-weight: bolder;

}