<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <p>username</p>
    <input type="text" name="username">
    <br>
    <p>비건종류선택</p>
    <select name = 'vegan_choice'>
        <option value="unselcted">선택안함</option>
        <option value="vegan">비건</option>
        <option value="lacto">락토</option>
        <option value="ovo">오보</option>
        <option value="lacto_ovo">락토오보</option>
        <option value="pesco">페스코</option>
        <option value="flexiterian">플렉시테리언</option>
    </select>
    <p>email</p>
    <input type="text" name="email">
    <br>
    <p>password</p>
    <input type="text" name="password">
    <br>
    <p>confirm</p>
    <input type="text" name="confirm">
    <br>
    <input type="submit" value="회원가입">
</form>