{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'layout.css' %}" rel="stylesheet"/> 
    <title>GOODS COMMENT LIST</title>
</head>
<body>
    <h1>Select COMMENT To Change</h1>
    <hr>
    <section>
        <a href="{% url 'main' %}" class="btn btn-secondary">Home</a>
        <!-- <a href="{% url 'food_new' %}" class="btn btn-secondary">Add Food</a> -->
        <!-- 검색 기능 추가 -->
        <br><br>
        <table class="table">
            <thead>
                    <th>Goods</th>
                    <th>Name</th>
                    <th>Comment</th>
            </thead>
            <tbody>
                {% for l in list %}
                <tr>
                    <td>{{l.goods.name}}</td>
                    <td><a href="{% url 'good_detail' l.id %}">{{l.name}}</a></td>
                    <td>{{l.comment}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </section>
</body>
</html>