body {
    background-color: rgb(83, 188, 78);
    padding: 0;
    margin: 0;
    min-width: 1000px;
}
#mainfunc {
  background-color: rgb(83, 188, 78);  
  height: 1000;
  width: 300;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.maplogo {
    position: absolute;
    color: pink;
    width: 300;
    top: 30;
    left: 40%;
    transform: translateY(-50%);
    margin-left: 20px;
    font-size: 30px;
    font-weight: 1000;
}
