/* 오른쪽 지도 들어갈 부분 */
body {
  background-color: white;
  left: 0%;
  padding: 0px;
  margin: 0px;
  min-width: 1000px;
  
}

/* 초록 위 배너 */
.leftbody {
    background-color: white;
    width: 300px;
    left: 500px;
    padding: 0px;
    margin: 0px;
    min-width: 300px;
}

/* 검색창 초록 배너 */
#up-mainfunc {
  background-color: rgb(129,152, 97) ;  
  height: 300px;
  width: 420px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10px;
}
/* we are vegan 글씨 */
.maplogo_up {
    position: absolute;
    color: white;
    width: 400px;
    top: 40px;
    left: 15%;
    transform: translateY(-50%);
    margin-left: 20px;
    font-size: 45px;
    font-weight: 1000px;
}
.add_store {
  top: 20;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 0 38px;
}
.menu-list {
  position: absolute;
  margin-top: 15%;
  left: 130;
  font-size: 30px;
}
.menu-list .menu a {
  text-decoration: none;
  color: white;
  padding: 0 38px;
}

/* 초록 아래 배너 */
#down-mainfunc {
    background-color: rgb(129,152, 97) ;  
    height: 590px;
    width: 420px;
    position: fixed;
    top: 310px;
    right: 0px;
    left: 0px;
    z-index: 10px;
    scroll-behavior: smooth;
    
}
.sort_store {
  position: absolute;
  color: white;
  width: 400px;
  left: 250px;
  top: 30px;
  transform: translateY(-50%);
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500px;
}
.search_store {
  position: absolute;
  color: white;
  width: 400px;
  top: 100px;
  left: 13%;
  transform: translateY(-50%);
  margin-left: 20px;
  font-size: 30px;
  font-weight: 1000px;
}

.store_text {
  width: 600px;
}

p, h4 {
  margin: 0;
}
.store_text p {
  top: 30;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 550;
  color: rgb(129,152, 97) ;
}
.store_text h4 {
  
  font-size: 17px;
  font-weight: 450;
  color: white;
}



