/* 오른쪽 지도 들어갈 부분 */
body {
  background-color: white;
  left: 0%;
  padding: 0;
  margin: 0;
  min-width: 1000px;
}

/* 초록 위 배너 */
.leftbody {
    background-color: white;
    width: 300;
    left: 500;
    padding: 0;
    margin: 0;
    min-width: 300px;
}

/* 검색창 초록 배너 */
#up-mainfunc {
  background-color: rgb(83, 188, 78);  
  height: 300;
  width: 400;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
/* we are vegan 글씨 */
.maplogo {
    position: absolute;
    color: white;
    width: 400;
    top: 30;
    left: 40%;
    transform: translateY(-50%);
    margin-left: 20px;
    font-size: 30px;
    font-weight: 1000;
}
.search_store {
  position: absolute;
  color: white;
  width: 400;
  top: 60;
  left: -10%;
  transform: translateY(-50%);
  margin-left: 20px;
  font-size: 30px;
  font-weight: 1000;
}
/* 초록 아래 배너 */
#down-mainfunc {
    background-color: rgb(83, 188, 78);  
    height: 800;
    width: 400;
    position: fixed;
    top: 310;
    right: 0;
    left: 0;
    z-index: 10;
    scroll-behavior: smooth;
}

