/* 오른쪽 지도 들어갈 부분 */
body {
    background-color: white;
    left: 0%;
    padding: 0;
    margin: 0;
    min-width: 1000px;
  }
  
  /* 초록 위 배너 */
  .leftbody {
      background-color: white;
      width: 300;
      left: 500;
      padding: 0;
      margin: 0;
      min-width: 300px;
  }
  
  /* 검색창 초록 배너 */
  #mainfunc {
    background-color: rgb(83, 188, 78);  
    height: 1000;
    width: 420;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  /* we are vegan 글씨 */
  .maplogo {
      position: absolute;
      color: white;
      width: 400;
      top: 50;
      transform: translateY(-50%);
      margin-left: 20px;
      font-size: 45px;
      font-weight: 1000;
  }
 
  /* 초록 아래 배너 */
  .photo{          
      position: fixed;
      top: 80;
      right: 0;
      left: -7;
  }

  .store_text {
    width: 600px;
  }
  
  p, h3,h4 {
    margin: 0;
  }
  .store_text p {
    top: 30;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 570;
    color: rgb(21, 99, 56);
  }
  .store_text h3 {
    
    font-size: 25px;
    font-weight: 450;
    color: white;
  }
  .store_text h4 {
    
    font-size: 18px;
    font-weight: 450;
    color: white;
  }
 
  #under {
    height: 150px;
    width: 420px;
    top: 650;
    margin-left:0;
    position:fixed;
    display: block;
  }
    .underimg {
        top: 30;
        left: -20;
        height: 30;
        width: 30;
        margin-left: 30;
        position: absolute;
        display: flex;
        transform: translateX(-50%);
      }
  