/* html{
    background-color:rgb(198, 214, 198);
} */

.navbar-brand{
    color: goldenrod;
    font-family: 'Black Han Sans', sans-serif;
    /* font-family:cursive; */
    
}

/* .container{
    color:aquamarine;
    align-items: center;
    justify-content: center;
} */

