{% load static %}

<html>
<head>
    <link href= "{% static './css/home.css' %}" rel="stylesheet">
</head>
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <p1>VEGANIA</p1>
    <h3>username<br>
    <input type="text" name="username"></h3>
    <br>
    <h4>비건종류선택<br></h4>
        <h5>
        비건: 유제품,알, 동물석 식품 지양<br>
        락토: 유제품 섭취, 계란(알) 지양<br>
        오보: 유제품 지양, 계란(알) 섭취<br>
        락토오보: 유제품, 알 섭취<br>
        페스코: 유제품, 알 , 생선 섭취<br>
        플렉시테리언: 모두 섭취<br></h5>
    <h4><select name = "vegan">
        <option value="unselcted">선택안함</option>
        <option value="vegan">비건</option>
        <option value="lacto">락토</option>
        <option value="ovo">오보</option>
        <option value="lacto_ovo">락토오보</option>
        <option value="pesco">페스코</option>
        <option value="flexiterian">플렉시테리언</option>
    </select></h4>
    <h4>googleemail<br>
    <input type="text" name="email"></h4>
    <br>
    <h4>password<br>
    <input type="password" name="password"></h4>
    <br>
    <h4>confirm<br>
    <input type="password" name="confirm"></h4>
    <br>
    <h4><input type="submit" value="회원가입"></h4>
</form>