{% load static %}

<html>
<head>
<title>Vegan Store Add Page</title>

<link href="{% static 'blog/layout.css' %}" rel="stylesheet" />
</head>

<body>
    <section id="header">
        <div class="logo">
            We are Vegan
            <div class="content-report">
                _Add Post
            </div>
        </div>
    </section> 

    <section id="form-outline">
    <div class="form-inline"></div>     
        <div class = "form-add">   
             <form action="{% url 'post_add %'}" method='POST'>
               {% csrf_token %}
               {{form.as_p}}                  
               <input type="submit" value="추가하기">
             </form> 
        </div> 
    </section>
</body>
</html> 
