{% load static %}

<html>
<head>
<title>Information Page</title>

<link href="{% static 'blog/base.css' %}" rel="stylesheet" />
</head>

<body>
    <section id="header">
        <div class="logo">
            We are Vegan
        </div>
    
    </section> 
        <div class="info-img">
            <img src="{% static 'img/info.png' %}"/>
            <div class="arrow-img">                
                <a href="{% url 'map_main' %}"><img src="{% static 'img/arrow.png' %}"/></a>
            </div>
        </div>
</body>
</html> 
