{% load static %}

<html>
<head>
<title>MAIN PAGE</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<link  rel="stylesheet" />
</head>

<body>  
  <!-- 지도 불러오는 부분 시작 -->
  <!DOCTYPE html>
  <html> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <style>

          body {
              overflow: hidden;
          }
          div#map {
              width: 100vw; height: 100vh;
          }
          div.wrap {
              width: 600px;
              height: 450px;
          }
          div.text-box {
              text-align: center;
          }
          h3 {
              color: rgb(129,152, 97) ;              
              font-size:large;
          }          
          h4 {
              margin: 10px auto 0;
              font-size:large;
          }
          h5 {
              margin: 10px auto 0;
              font-size:medium;
          }
          div.img-box {
              max-height: 200px;
              max-width: 400;
              overflow: hidden;
          }
          img {
              width: 300px;
              margin: -20px auto 0;
          }        
          a {
              text-decoration: none;
              color: #000;
          }
          #map {
        height: 100%;
          }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
 
      #infowindow-content .title {
        font-weight: bold;
      }
 
      #infowindow-content {
        display: none;
      }
 
      #map #infowindow-content {
        display: inline;
      }
 
      .pac-card {
        height: 300px;
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
 
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
 
      .pac-controls {
        
        display: inline-block;
        padding: 5px 11px;
      }
 
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
 
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
 
      #pac-input:focus {
        border-color: rgb(129,152, 97) ;
      }
 
      #title {
        color: #fff;
        background-color: rgb(129,152, 97) ;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
          
          /* 확대/축소 등 구글 지도의 기본 UI 감추기 */
          .gmnoprint, .gm-control-active.gm-fullscreen-control {
              display: none;
          }

        /* 오른쪽 지도 들어갈 부분 */
body {
  background-color: #f5f6f7;
  left: 0%;
  padding: 0px;
  margin: 0px;
  min-width: 1000px;
  
}

</style>
  </head>
  
  <body>
    <div class="pac-card" id="pac-card">
        <div>
          <div id="title">
            WE ARE VEGAN
          </div>
          <div id="type-selector" class="pac-controls">
            <!-- <input type="button" name="type"> -->
            <a href="{% url 'vegan_info' %}"><h3>INFO</h3></a>
            <a href="{% url 'vegan_area_add' %}"><h3>ADD</h3></a>
            <a href="{% url 'store_save' %}"><h3>SAVE</h3></a>
            <a href="{% url 'area_report' %}"><h3>REPORT</h3></a>                       
         </div>
          <!-- <div id="strict-bounds-selector" class="pac-controls">
            <input type="checkbox" id="use-strict-bounds" value="">
            <label for="use-strict-bounds">Strict Bounds</label>
          </div> -->
        </div>
        <div id="pac-container">
          <input id="pac-input" type="text"
              placeholder="Enter the name of the VEGAN store">
          
        </div>
      </div>
      <div id="map"></div>
      <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name"  class="title"></span><br>
        <span id="place-address"></span>
      </div>

      <div id="map"></div>   
      <script type="text/javascript">
          
          function initMap() {   
              //지도 스타일
              //var : 자바스크립트에서 모든 변수의 데이터타입을 표현
              var map = new google.maps.Map(document.getElementById('map'), {
                  
                  //처음 중심 좌표
                  center: {
                      lat: 36.605671, 
                      lng: 128.1073013,
                  },                  
                  //처음 줌 값. 숫자가 작을수록 낮은 배율
                  zoom: 8
              });

        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var strictBounds = document.getElementById('strict-bounds-selector');
 
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
 
        var autocomplete = new google.maps.places.Autocomplete(input);
 
        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
        autocomplete.bindTo('bounds', map);
 
        // Set the data fields to return when the user selects a place.
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name','photo']);             
   
              //마커 정보
              var locations = [
  
                  //place:"청주 여누",
                  ['<div class="wrap"><div class="text-box"><h4>여누</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEA3Vlbya__BIXk2bzx832UCR_tS_0C6o3jUKfwyvQZRQdd9vC-Y0-Oki6u7U2zDwoEQpySCIFAUTcOCE4NbNshxgt8avQI3GsLkzputb8ra0wULP6FBCVPU2MKQH0ASQfHkWxWac3Un9n2t8_z2TJXYSGvjZdSRxOBVEF4yEntEH77e&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5>사진출처 : 구글 / 충청북도 청주시 흥덕구 복대동 990번지 KR 1층 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.6341916, 127.4249196],
                   //place:"청주 오프리",
                  ['<div class="wrap"><div class="text-box"><h4>오프리</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEARzbnzVnPXPjkpoZue__WBhsp7iHJPMqc0i-RiBViatEp0FC4wnaxb7NSMnnt1A78SWbWwYWKesJS2KaXOhtabc0ZdR8adZh7xPtvH8E_0jUO4zkhyz2bEAeL1NVbOSUxrPfv_sthJheHb_U-v9L4XF4JymTikYG1j3qj62OyJxWu4&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 충청북도 청주시 흥덕구 가경동 번지 1층 1929 KR 일부호 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',36.6196166,127.4296442],
                    //place:"청주 늘푸른식당",
                  ['<div class="wrap"><div class="text-box"><h4>늘푸른식당</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 충청북도 청주시 상당구 우암동 325-6 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 x</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.6481218, 127.479121],
                   //place:"청주 스토리",
                  ['<div class="wrap"><div class="text-box"><h4>스토리</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 충청북도 청주시 흥덕구 복대2동 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.6316732, 127.4318127],
                   //place:"청주 하일",
                  ['<div class="wrap"><div class="text-box"><h4>하일</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 충청북도 청주시 상당구 북문로1가 번지 3층 4-1 KR 반비반트</h5><hr><h5>매장 내 식사 x</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.6481164,127.4528564],
                  //place:"러빙헛 송촌점",
                  ['<div class="wrap"><div class="text-box"><h4>러빙헛 송촌점</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECGWgcEVDyXeb_CWqCUKwEQpMSggwf1eoMb8mmutMUoMo2CxHl4uR3Et9BAPXhwBaMuF04NzlPbfC5mXzN4U0exNLQ7UYRulXrDFxmpUUvcHS1CPYezrF_tF0pL86KcQ5qVLXWs9xXx2ZsK_tIVnBlLG9-gl_Rz2XUAMTFKtQWpPAXh&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 대전광역시 대덕구 중리동 493-6 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.3645182,127.4363881],
                  //place:"Vegan Buffet",
                  ['<div class="wrap"><div class="text-box"><h4>Vegan Buffet</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 충청남도 천안시 동남구 신방동 530-4 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 -</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',36.793931,127.1510345,],
                  //place:"배지그린",
                  ['<div class="wrap"><div class="text-box"><h4>배지그린</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECEWBAhchg0Yuy5rFenUcUro5Oor-FpdLAhokxtvEAABGn8x41MZTDabyqHmiUvnTZhdsMVWMlZRBiqqXnOWWxWcUdjZzq8uVF51dspPdUBvfG0kbQKJygBT1sIv-Mi0A_oOX1DLuD-6XFUIMRqEkUHlW6DrtHvJDkkde2VvjSb5yQD&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 강남구 개포동 개포로20길 24-10 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.4769333,127.0474939,],
                  //place:"러빙헛카페",
                  ['<div class="wrap"><div class="text-box"><h4>러빙헛카페</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 서울특별시 강남구 개포동 개포로22길 35 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.4768848,127.0492398,],
                   //place:"도반",
                  ['<div class="wrap"><div class="text-box"><h4>도반</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 서울특별시 서초구 양재동 263-15번지 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.4762512,127.0425508,],
                  //place:"러빙헛 스마일점",
                  ['<div class="wrap"><div class="text-box"><h4>러빙헛 스마일점</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 서울특별시 강남구 개포4동 논현로 18 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.4734806,127.0508364,],
                  //place:"남미플랜트랩",
                  ['<div class="wrap"><div class="text-box"><h4>남미플랜트랩</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEDjJUIkzlPXNqSp0uqfr6xltV03Ax94GPxQsTdArIKL_cfI-jtFGeJby5-DvikocS1dR5cdOK2xLXxj_RLPFtUmaGWwEdtop8v32CqVwgN0_wqMZKTU9hUhgNKjCipabXziYp1OZTxIIuTQMS90YM3ILpCC4FGJX7hHNNYrZq8-jQdf&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 2층 455-20, 방배동 서초구 서울특별시 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.4805678,126.983086,],
                  //place:"플랜트",
                  ['<div class="wrap"><div class="text-box"><h4>플랜트</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEC2-GdaeVhDCreyqZOTik1f-QiaJeyVnnMts0dpw_kmcdVs06N-91P5yvF8r4oKeuK0Bo6RJ3bB6rFqMAZ1SWsiHRNPK0lnb-sAqrvMZQsCsxPczwayZZpNVhCyFx_29HHu1_UytAMFHqEFNDtgiyWFxJYXkYw6QEvUyt4JuEyyZy0a&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 2 floor, 117 보광로 이태원1동 용산구 서울특별시 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.5330759,126.9940922,],
                  //place:"스프라우트",
                  ['<div class="wrap"><div class="text-box"><h4>스프라우트</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 서울특별시 용산구 이태원2동 회나무로13길 36 </h5><hr><h5>매장 내 식사 x</h5><h5>테이크 아웃 ○</h5><h5>배달 서비스 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.5408594,126.9896319,],
                  //place:"베제투스",
                  ['<div class="wrap"><div class="text-box"><h4>베제투스</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEAomwsR1vOG065y53kS2b_WWIIZO3UPxy4dXHoNiVN6uuzn9S5xRtCwBYGyO4yIkGwDYNrnj3LVZD2xH34zxAl_9ays1y47LGLO6gANR6h5_v6gqYNkv5qyG1ZZ0gURAQZQSyzDe404UK2jgVgPzuWGTeB-3fXBnxPM9ZBMXUdowCNO&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 용산구 용산2가동 22-12 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><h5>배달 서비스 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.5436344,126.9871621,],
                  //place:"비건스페이스",
                  ['<div class="wrap"><div class="text-box"><h4>비건스페이스</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEDQYFLa-A36FdpBFTDcWZKiavLXOqgDcQbl2LFqe18ce9EeaoeuXoZ-cZVU23828feIjdu6Ljt8QepGPmFW19Y9GsMDWdO43XjAldvtQ-_A45mad_Eh8msMpPK39OSt5XO8G4YsJDwJg5RqHWkxlQ5IoJXqVgQJNfv_Y9pVVQ0gYkP7&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 용산구 용산동2가 46-1번지 1층 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><h5>배달 서비스 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.5541168,126.9298092,],
                  //place:"드렁큰비건",
                  ['<div class="wrap"><div class="text-box"><h4>드렁큰비건</h4><div class="img-box"><img src="Aap_uECMsomqPTWj_FoVgkT3oIhv-YJDYUjuo9sqOlnXEkhOqQCClvVwP4J0IbVHxcdOCUuB4-KJOS5e42Vd-hEPx24DjpT-um4x2WBFXeg1uuj18qSBofq9BH-sSherEu5fymM3OlUmIYhR9genxtl8wWyX7kXyx4N77CoBdznDeIrzXAhL"/></div><h5> 사진출처 : 구글 / 서울특별시 마포구 창전동 와우산로30길 13 </h5><hr><h5>매장 내 식사 x</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.6481164,127.4528564],
                  //place:"소이로움",
                  ['<div class="wrap"><div class="text-box"><h4>소이로움</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEBnxkh6HCv-XH4oA3oD0aChwcP8R6mABDGHrg_7W5Il1416iZr6AaUwtNLv5xrbEKXnpT6z3gy-60ocmcy841pn2-no4EhKn0jn9y8Ca44zQ7IQYDMlyrvSWI32zjRaUfftAzPqgj_oVtLWnr6zxvwwjfiwdG11iig899gMs5a6BUNA&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 종로구 누하동 필운대로 41 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.5797021,126.9684406,],
                  //place:"비건키친",
                  ['<div class="wrap"><div class="text-box"><h4>비건키친</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEBBrfjnX78Ly2V2GicQlGPR-GeFBM1ZsEpWG4PWr4p6CKxfEPnATDcdOVBCnGqDneTk1Htf41NR0qqP_y27FG6RQb-ndqmdi-y48csxZgxK5uge1n-G-ed_64g-5Dbzym_nHMj8Jv7FiOJZbh50rUsexGa_DsMSNXCFrPkJajIrxsX-&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 서대문구 연희동 연희로26가길 15 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><h5>배달 서비스 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.5736557,126.935996,],
                   //place:"반 BAAN",
                  ['<div class="wrap"><div class="text-box"><h4>반 BAAN</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEALbJ7jtpkZ1e8-GoFaJ250v9MzrP1KiSTmYcUxbKcngzjetAsKC8aPPOPs-eyJB1vcLeabm8JeqmnmZv6cP0LhblUDoSiFlFdhh7D7MxgMXM9CfuXUHGz_zvXvIVwSL0fAJRznglPeYV4lxWxLbrNC8X6p6uQV-jxftC0fKPtJcM_m&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 서대문구 신촌동 연세로11길 21 2층 </h5><hr><h5>임시휴업</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.5588313,126.9354202,],
                  //place:"셰발레리 Chez Valerie",
                  ['<div class="wrap"><div class="text-box"><h4>셰발레리 Chez Valerie</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECQZ6cHaWB_vDnFX-PV4qYjxqzyWK1yZi4unQgvJW-k7UJfhkqxDC5R-fgAOmEFzKckRYT8NIHCgvZL5TD3JsHCzyAApNCpF8ta_BSr39B_bFGw7BwCZ2fGoP_oL8sN7SESKm1UEWiyll-Y-q3Ee1w8p4396eKKk1Yq5WQB9qW3LaCI&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / KR 서울특별시 마포구 포은로 52 1층 VEGAN </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><h5>배달 서비스 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.5520304,126.9067351,],
                   //place:"마지",
                  ['<div class="wrap"><div class="text-box"><h4>마지</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 서울특별시 종로구 체부동 자하문로5길 19 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><h5>배달 서비스 x</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.5776465,126.9708093,],
                   //place:"채식주의자",
                  ['<div class="wrap"><div class="text-box"><h4>채식주의자</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECpEMf-0EUDhU4Yw2MFj7o1gs7ER4kN3cwKO83XlAyZ_FVptkJYCB9hnkLraP0AN2paHKBFV6AcmHeBYabo_O-5Z_WvVzuN5bK5vJp3vQI1auBN5Wt2KCPd11o6xt7zXDGC0L2zDMNyIGXk5l6afUfL3wH0Cmmgh5vn-a5kssgd-pbP&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 종로구 통인동 102번지 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.580283,126.9707694,],
                  //place:"Vegan Cafe",
                  ['<div class="wrap"><div class="text-box"><h4>Vegan Cafe</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 서울특별시 종로구 통인동 자하문로13길 4-7 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.5803349,126.9707633,],
                  //place:"오세계향",
                  ['<div class="wrap"><div class="text-box"><h4>오세계향</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEB3FrgDP70zT_Hg-8JiSVvzSPUQOo1zGZymZ6vFh0QNznFg3_kZU0CNbkz1kO5KQgoHMyqy64SKFihq34z4ifxQ8Yeh4-mr1C8L4lzDlWIcDG7ytZNFqvqJS6YGAXi8TOzLy305t7CJRp28AyPmKLvMQB3rKClGo2OvWq-ECtSd3R7_&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 종로구 관훈동 인사동12길 14-5 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 37.5746333,126.9851174,],
                  //place:"한과채",
                  ['<div class="wrap"><div class="text-box"><h4>한과채</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECcbt7BjQg_hYnqhKTBtqnNrBYFJxuZyWUVC9IZrT75rGdNJR2h6LBJubPvbO1x04Z4x0DvbxnE9acTaHEivVhL4oxpKOMfxQasm67KJvmbRiJrz7qMmyJ-aFMpn1fpuR3l_MLTC1FUxO90ywY2DxAc0FCE6qWpxNET8NVU8D8llsa5&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 종로구 관훈동 인사동10길 13 </h5><hr><h5>매장 내 식사 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.5743048,126.9855713,],
                  //place:"어라운드 그린",
                  ['<div class="wrap"><div class="text-box"><h4>어라운드 그린</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEDHj81UDo2HVcAbu32QMn8gZbK0FTY56EPSV-KJun7M7ZW3iE0ECiCMtm_eR1mV1SicsgkY9MBHBKGJjUHOBZ8Xuh6sXv_VJI6mcwQkrlgyEB2Ucc5VyRUCqOdGtkQvDasRXA6B7xNXnHKAJL0kw2VdL599MxBNSwe4_cIb7f1u-GGB&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 마포구 망원2동 망원로 79 3층 1929 KR 일부호 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',37.5575354,126.9055319,],                  
                  //place:"마루자연식김밥",
                  ['<div class="wrap"><div class="text-box"><h4>마루자연식김밥</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEDYtwzKpmthyOtAAsYVFIjTjycnSnEqpazSzQ_ZNtg_6JIeYLz0LaIsP6tbtBtqf2LNoQXd0ZrcrUKUhv3jXIghwWoVPzBXxr-KUUxs3Oa7o-1-jxM_MBcnPSMTb5if0Pp22fK1b30q9g7jw6jFyokQj4KBO5BTOHsT-aNut0NtDYC3&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 종로구 관훈동 인사동길 35-4 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.6481218, 127.479121],
                   //place:"빛가람 채식뷔페&카페",
                  ['<div class="wrap"><div class="text-box"><h4>스토리</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECwLais9wq2aFLxQEgH6CWX0Ll-Fg06B6S41uPDamlCBdkXh91zpqFxwAExajakfa0_ywFL0pqWzcWl6v20ZmgS_7uluHa4omyCW3VsAaFwHwLpEZ06V6QHzyCGA24oEsCeAdzki15yduK1X364vebGWeaoqQR4oHdX2BPOrM4MHrFc&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 충청북도 충주시 안림동 91-1 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.9742263,127.9717381,],
                  //place:"플랜티카 PLANTICA",
                  ['<div class="wrap"><div class="text-box"><h4>플랜티카 PLANTICA</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 전라북도 전주시 완산구 중앙동3가 14-9 KR 1F </h5><hr><h5>매장 내 식사 x</h5><h5>테이크 아웃 ○</h5><h5>배달서비스 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.8179038,127.1445976, ],
                  //place:"채식주의자의무화과",
                  ['<div class="wrap"><div class="text-box"><h4>채식주의자의무화과</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEBFk7e3auTB08K_Aearec2gzHYiVD3dt4Zy_G2W1eCbiKZw18oWbgGL58ruVBdXQJMDi-tGQMVWOF_8vNaV-luFPx5IiEZZjwkNt19syJuFHFJVRgy_pjQN5n41bJS6aYfdYYsZQETpPNTScuH_5XoJJzJ622rtW7zEFp7BGwkF5m-p&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 전라북도 전주시 완산구 중화산동2가 번지 1층 20-10 KR </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.815694,127.1283387,],
                  //place:"러빙헛서신점비건뷔페",
                  ['<div class="wrap"><div class="text-box"><h4>러빙헛서신점비건뷔페</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEDpbwmOLfEsmXOs-KFWeXUD_HooFhoyRkLY7GB-wntLFIVx-5T7vS7M7tqCz9G-wDwD6TFbHdmg4rEnlyfwzZtdYal55cInoiWPzdJ1GZBInrx77pExQSB6LiyPgG-KnG31VSeMalqHQoNpdJtt5B8N0_IUK-KVeTqXOMut9YVKq2wB&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 전라북도 전주시 완산구 서신동 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 -</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.8317334,127.1182951,],
                  //place:"미쁨채식뷔페",
                  ['<div class="wrap"><div class="text-box"><h4>미쁨채식뷔페</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEBvlEp1jFArh6E6_wBXQf7dWgPi-pBE_2n_wOZtzI619AZiw_zq526iaaItv-NnM1LPkiT34DgpkICtXpJc7B0BbiR1QauvtiU3mb5COnOcAGFC0Yz2cnWYAam-9Ns7yVpQPDuWSoyJlkJOgPDokMEgZ_Z14XbpIAh5ExkHbTNa0WTY&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 전라북도 완주군 소양면 해월리 736-2 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.851779,127.2581448,],
                  //place:"비건테이블",
                  ['<div class="wrap"><div class="text-box"><h4>비건테이블</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 경상남도 하동군 화개면 용강리 141-3 KR </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.2408979,127.6417736,],
                   //place:"러빙헛 코리천국점",
                  ['<div class="wrap"><div class="text-box"><h4>러빙헛 코리천국점</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 경상남도 진주시 하대2동 도동로 238 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.1914667,128.1221366,],
                  //place:"슬로우스테디",
                  ['<div class="wrap"><div class="text-box"><h4>슬로우스테디</h4><div class="img-box"><img src="{% static "img/37.png" %}"/></div><h5> 사진출처 : 구글 / 경상남도 함안군 가야읍 도항리 339-1번지 KR </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.2733315,128.3974689,],
                  //place:"Loving Hut",
                  ['<div class="wrap"><div class="text-box"><h4>Loving Hut</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 경상남도 진주시 하대2동 도동로 238 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.1915525,128.1220349,],
                  //place:"HOME Bistro and Cafe",
                  ['<div class="wrap"><div class="text-box"><h4>HOME Bistro and Cafe</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECLxhOWgQcIPLpas3Bh5_CjwgbezMLN1AFo4y_qoYALrqJz9AT6Avpuiod-4yaNwKTaIQvuvSxHpVvUBffNCTRbfm279h_01u7-Qlyd3GzI7NPBQCdUvHRhOMMszD9liHMcGOAqZBy-MQTI1pKKg1ueFyuwFUrB2hlxGmK9ciSSFo7G&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 5, jung dong, 2-ro, 26 beon-gil, 해운대구 부산광역시 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.164227,129.1636219,],
                  //place:"다전",
                  ['<div class="wrap"><div class="text-box"><h4>다전</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 부산광역시 부산진구 부전2동 신천대로62번길 61 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.153562,129.0581692,],
                  //place:"베지나랑 2호점",
                  ['<div class="wrap"><div class="text-box"><h4>베지나랑 2호점</h4><div class="img-box"><img src="Aap_uEDKBv4C_BFXv4dlvhvdSFl0gdrZL47O4KK6tH1zRd4OylagyQE156Q-iO1F8sczigT7y6erhZqdFVOHBAdtXlMHgf4Lr7o9ZGx0FbYr3pOKmGVT1QXFQXenLoSpt6Is0LDI9wCsKhT08QE-XhpLHhKRbw5LAuueRKiJqCds4hEFrWIe"/></div><h5> 사진출처 : 구글 / 부산광역시 수영구 민락동 광안해변로370번길 9-32 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><h5>배달 서비스 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.156633,129.1341752,],
                  //place:"Love Urth",
                  ['<div class="wrap"><div class="text-box"><h4>Love Urth</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEAG_AA3tEXBhiSO_wzrccTZ_GcgKKSLK9L3-l0wyGiyah9TetQxm4A6XC5HzJh__V2brOFWfrXjBeJg3D4cJmpv5du0hGTVbTvCawjDnXJEi3P1qN4VZooAcrUHQdd3C4updBmpaW4YdpLo9dxvCAbib8o4WyxIzVbdplUnn80vVBOA&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 서울특별시 용산구 용산동2가 46-1번지 1층 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.1564449,129.1185228,],
                  //place:"콩스랑 Bean's Cook",
                  ['<div class="wrap"><div class="text-box"><h4>콩스랑 Beans cook</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEC7EKAG5vFQJefUhv32UV1qvDhJZvL69lTmKv0RG645a91-dy6uzD5VANu6LWvJD9eNFn6-9IU-CN3hXjBqloC6_bW8vWjz7w4-nvI0KBuvfaVR8BxYDCsb4zZ7DhRgDw_x1ZLDfj20KiY130N3D9J5om1z-dY67HpavRXr5oPL908p&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 부산광역시 수영구 수영동 479-1 </h5><hr><h5>매장 내 식사 x</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.1732745,129.1161139, ],
                  //place:"45 Vegan Bakery and Cafe",
                  ['<div class="wrap"><div class="text-box"><h4>45 Vegan Bakery and Cafe</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 부산광역시 수영구 수영동 연수로357번길 17-10 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.1721488,129.1100558,],
                  //place:"에코토피아",
                  ['<div class="wrap"><div class="text-box"><h4>에코토피아</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uECe9HI1H1bkrRA6NgfeVhWuq8RRhDZkSDH74xl2tiok3bE4ws7fhZJKn4UxaSpEuvM4ni87YPmJRK5kTOq0hKbVrj6OTwoH0zYvZzH9mujyB8h93jdjVtO-gEWLLNR9Hqwp4cP_hG-axsW3rw_3s_z-VHwOUTJMdV8KWtbPklTmbY0K&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 부산광역시 수영구 남천동 수영로408번길 30-6 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.141543,129.109526,],
                   //place:"잇드링크비건",
                  ['<div class="wrap"><div class="text-box"><h4>잇드링크비건</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 부산광역시 부산진구 전포동 204-6 </h5><hr><h5>매장 내 식사 -</h5><h5>테이크 아웃 -</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.1579784,129.067611,],
                  //place:"나유타카페",
                  ['<div class="wrap"><div class="text-box"><h4>나유타카페</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEC9_jiwuub8M1MVPuIJCwYP_RC3oN-1PGGer8Jl05-RILURtr2L26zAOM5q5jljSOvqN83HaL5LplOml5ITm_Te1YLzuqBaWAcdTdf8gS5-Gt92yWAPJQUVC1R8M7tS1GaRYWKqZEE-quOL7Hao46wMgJW2cAlyvn_wnqwCUPtrQD8Y&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 부산광역시 금정구 장전동 수림로61번길 53 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.2374078,129.0856674,],
                   //place:"예인",
                  ['<div class="wrap"><div class="text-box"><h4>예인</h4><div class="img-box"><img src="https://maps.googleapis.com/maps/api/place/photo?photo_reference=Aap_uEAsLShGrHHqiXF_Z1_pDLM9va36hF5IQ9jdgW-1-xc-llDLUsH0bUiAKGxJt1HKokWXGcAMIAX3LUAoeaprrj72qlG7MdgBCYSWX2t0y1hiEiR-JnbXmqjqx-aw9URse_3GP8h2EJIvryMmn83RHDSvDSa1RQgLwKgRXwueDLbn6qJY&maxwidth=4032&key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME"/></div><h5> 사진출처 : 구글 / 연산동 479-17번지 2층 연제구 부산광역시 KR </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 x</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.1831219,129.1067769,],
                   //place:"러빙헛 로데오점",
                  ['<div class="wrap"><div class="text-box"><h4>러빙헛 로데오점</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 사진출처 : 구글 / 대구광역시 수성구 범어동 96-1 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 35.8548007,128.6385398,],
                  //place:"러빙헛 효목점",
                  ['<div class="wrap"><div class="text-box"><h4>러빙헛 효목점</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 대구광역시 동구 효목2동 화랑로25길 34 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>',35.8768477,128.6409738,],
                  //place:"비건쿡",
                  ['<div class="wrap"><div class="text-box"><h4>비건쿡</h4><div class="img-box"><img src="{% static "img/3.png" %}"/></div><h5> 충청북도 영동군 영동읍 매천리 119 </h5><hr><h5>매장 내 식사 ○</h5><h5>테이크 아웃 ○</h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', 36.1659196,127.7898077,],

     
                  //검색시 나타나는 부분
                  ['<div class="wrap"><div class="text-box"><h4>검색하신 장소입니다</h4></div><h5></h5><hr><h5></h5><h5></h5><hr><a href="{% url "store_save" %}"><h5>SAVE</a></h5><a href="{% url "area_report" %}"><h5>REPORT</h5></a> </div>', ],

  
            ]     
            var request = {
      placeId: 'ChIJN1t_tDeuEmsRUsoyG83frY4',
      fields: ['name', 'rating', 'formatted_phone_number', 'geometry','photo']
      };

      service = new google.maps.places.PlacesService(map);
      service.getDetails(request, callback);
      //
      // console.log(service.getDetails);
      //
      function callback(place, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
              createMarker(place);
          }
      }        
       
              //마커 이미지
              var customicon = 'http://drive.google.com/uc?export=view&id=1tZgPtboj4mwBYT6cZlcY36kYaQDR2bRM'
   
              //인포윈도우 : 텍스트를 올릴 수 있는 말풍선 모양의 이미지
              var infowindow = new google.maps.InfoWindow();
   
              //마커 생성
              var marker, i;
              for (i = 0; i < locations.length; i++) {
                  marker = new google.maps.Marker({
                      
                      //마커의 위치
                      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                      
                      //마커 아이콘
                      // icon: customicon,
                      
                      //마커를 표시할 지도
                      map: map
                  });
   
                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                      return function() {
                          
                          //html로 표시될 인포 윈도우의 내용
                          infowindow.setContent(locations[i][0]);
                          
                          //인포윈도우가 표시될 위치
                          infowindow.open(map, marker);
                      }
                  })(marker, i));
                  
                  if (marker) {
                      marker.addListener('click', function() {
                          
                          //중심 위치를 클릭된 마커의 위치로 변경
                          map.setCenter(this.getPosition());
   
                          //마커 클릭 시의 줌 변화 - 숫자가 작을수록 배율이 낮음
                          map.setZoom(14);
                      });
                  }
              }
              autocomplete.addListener('place_changed', function() {
          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }
 
          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);
 
          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }
 
          // infowindowContent.children['place-icon'].src = place.icon;
          // infowindowContent.children['place-name'].textContent = place.name;
          // infowindowContent.children['place-address'].textContent = address;
          infowindow.open(map, marker);
        });
 
        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          radioButton.addEventListener('click', function() {
            autocomplete.setTypes(types);
          });
        } 

        setupClickListener('changetype-all', []);
        setupClickListener('changetype-address', ['address']);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);
 
        document.getElementById('use-strict-bounds')
            .addEventListener('click', function() {
              console.log('Checkbox clicked! New state=' + this.checked);
              autocomplete.setOptions({strictBounds: this.checked});
            });      
        }

  
        
    </script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME&libraries=places&callback=initMap"
        async defer></script> -->
        
        <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA9hhCszWY6L_6EHUL3f4TafpkZkEkPME&libraries=places&callback=initMap">
</script>
  </body></html>
  

   <!-- 지도 불러오는 부분 끝-->


</html>