{% load static %}

<html>
<head>
<title> MyPage</title>

<link href="{% static 'blog/layout.css' %}" rel="stylesheet" />
</head>
<body>
    <section id="header">
        <div class="logo">
            We are Vegan
            <div class="content-report">
                _MYPAGE            

            </div>
        </div>
    </section> 
        
        <section id="form-outline">
            <div class="form-inline"></div>
            <div class = "save-title">
                   <a href="{% url 'store_1' %}">MAIN으로</a>           
               <div class = "form-content">
                <div class = "text">
                   <h3>ID : likelionjjjjjang</h3>
                   <h3>비밀번호 : like*****</h3>
                   <div style=
                   "overflow:scroll;  width:500px; height:70px; padding:10px; background-color:rgb(177, 219, 174);  ">
                   <h3>저장된 가게</h3>
                   <h3>- 오프리</h3>
                   <h3>- 여누</h3>
                   </div>
                   <div style=
                   "overflow:scroll; width:500px; height:70px; padding:10px; background-color:rgb(177, 219, 174);  ">
                   <h3>신고한 가게</h3>
                   <h3></h3>
                
                   
                   </div>                  
               </div>   
                </div>
            </div>    
           
        </section>
       
    </body>
    
    </html> 
    