{% load static %}

<html>
<head>
<title> MyPage</title>

<link href="{% static 'blog/layout.css' %}" rel="stylesheet" />
</head>

<body>
    <section id="header">
        <div class="logo">
            We are Vegan
            <div class="content-report">
                _MYPAGE
            </div>
        </div>
    </section> 

    <section id="form-outline">
    <div class="form-inline"></div>
        <div class="mypage-title">
           MYPAGE          
           <div class = "form-content">               
             
            
            </div> 
        </div>
    </div>
    
    </section>
</body>
</html> 
