<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Main</title>
        <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- navigation -->
        <nav>
            <div class="nav-container">
                <div class="nav-1">
                    <h1><a href="{% url 'info' %}">Vegania</a></h1>
                </div>
                <div class="nav-2">
                    <form action="{% url 'search' %}" method="POST">
                        {% csrf_token %}
                        <input id="searchInput" type="search" name="keyword" class="input-search" placeholder="원하는 식품을 검색해보세요 !">
                        <button type="submit" id="btn-search">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <main>
            <div class="feeds">
                <!-- filtering list -->
                <article class="container-1">
                    <div class="row-6 category">          
                        <ul class="category-list">
                            <li class="category-items">
                                <form action="{% url 'category1' %}" method="POST">
                                    {% csrf_token %}
                                <input type="submit" name="category-item" value="Ingredient">
                                </form>
                            </li>
                            <li class="category-items">
                                <form action="{% url 'category2' %}" method="POST">
                                    {% csrf_token %}
                                <input type="submit" name="category-item" value="Food Nutrients">
                                </form>
                            </li>
                            <li class="category-items">
                                <form action="{% url 'category3' %}" method="POST">
                                    {% csrf_token %}
                                <input type="submit" name="category-item" value="Agricultural Products">
                                </form>
                            </li>
                            <li class="category-items">
                                <form action="{% url 'category4' %}" method="POST">
                                    {% csrf_token %}
                                <input type="submit" name="category-item" value="Shopping Mall">
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="row-6 filtering">
                        <p style="margin-left: 5%;">🥗 보고싶은 요소를 선택하세요 !
                        <br>🥗 검색하면 더 상세한 정보를 볼 수 있어요 !
                    </p>
                       <form action="{% url 'filter' check %}" method="POST">
                        {% csrf_token %}
                        {% if category %}
                        <ul class="filtering-list">
                            {% if category.f1 %}
                            <li class="filtering-item"><input type="checkbox" name="selected[]" value="{{ category.f1 }}">{{ category.f1 }}</li>
                            {% endif %}
                            {% if category.f2 %}
                            <li class="filtering-item"><input type="checkbox" name="selected[]" value="{{ category.f2 }}">{{ category.f2 }}</li>
                            {% endif %}
                            {% if category.f3 %}
                            <li class="filtering-item"><input type="checkbox" name="selected[]" value="{{ category.f3 }}">{{ category.f3 }}</li>
                            {% endif %}
                            {% if category.f4 %}
                            <li class="filtering-item"><input type="checkbox" name="selected[]" value="{{ category.f4 }}">{{ category.f4 }}</li>
                            {% endif %}
                            {% if category.f5 %}
                            <li class="filtering-item"><input type="checkbox" name="selected[]" value="{{ category.f5 }}">{{ category.f5 }}</li>
                            {% endif %}
                            {% if category.f6 %}
                            <li class="filtering-item"><input type="checkbox" name="selected[]" value="{{ category.f6 }}">{{ category.f6 }}</li>
                            {% endif %}
                        </ul>
                        {% endif %}
                        <input type="submit" value="✔" style="color: green; font-size: 30px; margin-left: 40px;">
                        </form>
                    </div>
                </article>
                <!-- food list -->
                <article class="container-2">
                    <div class="sort">
                        <select name="" id="">
                            <option value="recent">최신순</option>
                            <option value="popular">인기순</option>
                            <option value="lowest">최저가순</option>
                        </select>
                    </div>
                   
                    <div class="description">
                        <p><i>📌우리 사이트는 검색 api를 기반으로 동작하므로 정확한 이미지 정보를 불러오지 못할 수 있습니다.</i></p>
                        <ul class="food-info">
                            <li>
                                <div>
                                <img src={{ imglink.0 }} id="food-img" onerror="this.style.display='none'" alt="food1">
                                </div>
                                    {% if check == 1 %}
                                    <a href="{% url 'detail_info' check %}" class="tag" style="font-size: 20px;"></a>
                                    #{{ filter_list.0  }}
                                </a>
                                    {% elif check == 4 %}
                                    <p>
                                    # {{ filter_name.0 }}<br>
                                    {{ sample.0.0 }}<br>
                                    {{ prices.0.0 }}
                                </p>
                                <a href="{% url 'detail_info' check %}" class="tag" style="font-size: 20px;"></a>
                                    {% elif check == 2 %}
                                    {% if filter_list2.0.name %}
                                        #{{ filter_list2.0.name  }}<br>
                                    {% endif %}

                                    {% if filter_check %}
                                    {% else %}
                                        #{{ filter_list2.0  }}<br>
                                    {% endif %}
                                        {% for i in filter_check %}
                                            {% if i == 1 %}
                                                #{{ filter_list2.0.1  }}<br>
                                            {% endif %}
                                            {% if i == 2 %}
                                                #{{ filter_list2.0.2  }}<br>
                                            {% endif %}
                                            {% if i == 3 %}
                                                #{{ filter_list2.0.3  }}<br>
                                            {% endif %}
                                            {% if i == 4 %}
                                                #{{ filter_list2.0.4  }}<br>
                                            {% endif %}
                                            {% if i == 5 %}
                                                #{{ filter_list2.0.5  }}<br>
                                            {% endif %}
                                            {% if i == 6 %}
                                                #{{ filter_list2.0.6  }}<br>
                                            {% endif %}
                                        {% endfor %} 
                                    {% elif check == 3 %}
                                        {% if filter_list %}
                                            #{{ filter_list.0  }}<br>
                                        {% endif %}                                                             
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <img src={{ imglink.1 }} id="food-img" onerror="this.style.display='none'" alt="food2">        
                                    {% if check == 1 %}
                                    <a href="{% url 'detail_info' check %}" class="tag" style="font-size: 20px;"></a>
                                    #{{ filter_list.1  }}
                                    </a>
                                    {% elif check == 4 %}
                                    <p>
                                    # {{ filter_name.1 }}<br>
                                    {{ sample.1.0 }}<br>
                                    {{ prices.0.1 }}
                                    </p>
                                    <a href="{% url 'detail_info' check %}" class="tag" style="font-size: 20px;"></a>
                                    {% elif check == 2 %}
                                        {% if filter_list2.1.name %}
                                        #{{ filter_list2.1.name  }}<br>
                                        {% endif %}

                                        {% if filter_check %}
                                        {% else %}
                                            #{{ filter_list2.1  }}<br>
                                        {% endif %}
                                        {% for i in filter_check %}
                                            {% if i == 1 %}
                                                #{{ filter_list2.1.1  }}<br>
                                            {% endif %}
                                            {% if i == 2 %}
                                                #{{ filter_list2.1.2  }}<br>
                                            {% endif %}
                                            {% if i == 3 %}
                                                #{{ filter_list2.1.3  }}<br>
                                            {% endif %}
                                            {% if i == 4 %}
                                                #{{ filter_list2.1.4  }}<br>
                                            {% endif %}
                                            {% if i == 5 %}
                                                #{{ filter_list2.1.5  }}<br>
                                            {% endif %}
                                            {% if i == 6 %}
                                                #{{ filter_list2.1.6  }}<br>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif check == 3 %}
                                        {% if filter_list %}
                                            #{{ filter_list.1  }}<br>
                                        {% endif %}                               
                                                 
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <img src={{ imglink.2 }} id="food-img" onerror="this.style.display='none'" alt="food3">                               
                                    {% if check == 1 %}
                                    <a href="{% url 'detail_info' check %}" class="tag" style="font-size: 20px;"></a>
                                    #{{ filter_list.2  }}
                                    </a>
                                    {% elif check == 4 %}
                                    <p>
                                    # {{ filter_name.2 }}<br>
                                    {{ sample.2.0 }}<br>
                                    {{ prices.0.2 }}
                                    </p>
                                    <a href="{% url 'detail_info' check %}" class="tag" style="font-size: 20px;"></a>
                                    {% elif check == 2 %}
                                    {% if filter_list2.2.name %}
                                        #{{ filter_list2.2.name  }}<br>
                                    {% endif %}  

                                    {% if filter_check %}
                                    {% else %}
                                        #{{ filter_list2.2  }}<br>
                                    {% endif %}  
                                        {% for i in filter_check %}
                                            {% if i == 1 %}
                                                #{{ filter_list2.2.1  }}<br>
                                            {% endif %}
                                            {% if i == 2 %}
                                                #{{ filter_list2.2.2  }}<br>
                                            {% endif %}
                                            {% if i == 3 %}
                                                #{{ filter_list2.2.3  }}<br>
                                            {% endif %}
                                            {% if i == 4 %}
                                                #{{ filter_list2.2.4  }}<br>
                                            {% endif %}
                                            {% if i == 5 %}
                                                #{{ filter_list2.2.5  }}<br>
                                            {% endif %}
                                            {% if i == 6 %}
                                                #{{ filter_list2.2.6  }}<br>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif check == 3 %}
                                        {% if filter_list %}
                                            #{{ filter_list.2  }}<br>
                                        {% endif %}                               
                                                 
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </main>
</body>
</html>