<!DOCTYPE html>
{% extends 'market/base.html' %}

{% block content %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <meta charset="UTF-8">
            <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>공지사항(규제?)</title>
    </head>
    <body><div class= farmer_notice>
        <br>
        <h1>판매자 공지사항</h1> 
        <br>
        <div class = notice_contents>
        <h4>우리 농산물 살리기를 취지로 나들목 직거래 장터를 오픈했습니다.<br>
            농산물, 수산물 등을 생산하시는 분들 모두
            상품을 등록하시면 바로 판매하실 수 있습니다!! 
        </h4><br><br>
        <h2> 나들목 장터와 약속해주세요! </h2>

        <h5>농산물 직거래시, 농약 사용여부 ~~~ 등의 정보를 정직하게 말씀해주세요
            <br>

            저희는 농부님과 담백이용자분간의 정직한 거래를 지향합니다.
            <br>
            <br>
            
            
            1. 농산물에 대한 충분한 정보를 입력해주세요!
            
            등등</h5>

        </div></div>
            <a href="{% url 'market_new'  %}"><input type="button" value="➪ 상품 등록하기" class=button2></a>

    </body>



</html>    

{% endblock content %}
