<!DOCTYPE html>
{% extends 'market/base.html' %}

{% block content %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <meta charset="UTF-8">
            <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>공지사항(규제?)</title>
    </head>
    <body>
        <h2> 나들목 장터와 약속해주세요! </h2>

        <h5>농산물 직거래시, 농약 사용여부 ~~~ 등의 정보를 정직하게 말씀해주세요

            저희는 농부님과 담백이용자분간의 정직한 거래를 지향합니다.
            
            
            
            1. 농산물에 대한 충분한 정보를 입력해주세요!
            
            등등</h5>


            <!-- <a href="{% url 'market_detail' %}"><input type="button" value="상품 등록하기" class=l></a> -->

    </body>



</html>    

{% endblock content %}
