{% extends 'market/base.html' %}

{% block content %}

<h1>수정페이지</h1>

<form action="{% url 'market_edit' post.id %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <input type= "submit" value='수정'>
    <!-- <a href= "http://127.0.0.1:8000/blog/posts/"><input type= "button" value='취소'></a> -->
    <a href="{% url 'market_list' %}"><input type= "button" value='취소'></a>
    <!-- <a href="{% url 'post_detail' post.id %}"><input type= "button" value='취소'></a> -->
    <!-- <a href= "post_list.html"><button type="button">취소</button></a>? -->
</form>

{% endblock content %}
<!-- <input type="button" value="취소">
<a href= "http://127.0.0.1:8000/blog/posts/"><button type="button">취소</button></a> -->