{% extends 'market/base.html' %}

{% block content %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">



</head>
<div class = "parent">
<div class = "image_contents">
<h2 class = "title">{{post.title}}</h2>

{% if post.image %}
<p><img src="{{ post.image.url }}" alt="사진이 불러와지지 않음"></p>

{% endif %}

</p>
</div>
<!-- {{post.update_counter}} -->
<hr>

<div class ="contents">
<p>
    <h4>상 품 설 명</h4>
    <h4>{{ post.content }}</h4>
</p>

<small>{{ post.updated_at}}</small>
<h5>조회수 : {{post.view_count}}</h5>
<br>
</div>
</div>
<a href="{% url 'market_list' %}"><input type="button" value="장터로 돌아가기" class=button></a>
<br>
<a href="{% url 'market_edit' %}"><input type="button" value="게시글 수정하기" class=button></a>
<a href="{% url 'market_delete' post.id %}"><input type="button" value="게시글 삭제" class=button></a>

{% endblock content %}