{% extends 'market/base.html' %}

{% block content %}

<h1>post_id: {{post.title}}</h1>

{% if post.image %}
<p><img src="{{ post.image.url }}" alt="사진이 불러와지지 않음"></p>

<!-- <img src="이미지가 저장된 경로" alt="사진이 불러와지지 않음"> -->
{% endif %}
{% if post.image2 %}
<p><img src="{{ post.image2.url }}" alt="사진이 불러와지지 않음"></p>
{% endif %}
</p>
<h1>{{ post.title }}</h1>
<!-- {{post.update_counter}} -->
<hr>

{{ post.content }} <br>

<h3>
조회수 : {{post.view_count}}
</h3>
<hr>

<a href="{% url 'market_list' %}">목록으로</a>


<p>
    {{ post.content}}
</p>

<small>{{ post.updated_at}}</small>
<br>
<a href="{% url 'market_list' %}"><input type="button" value="목록"></a>

{% endblock content %}