{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'layout.css' %}" rel="stylesheet"/> 
    <title>admin main page</title>
</head>
<body>
    <h1>Vegania_admin</h1>
    <hr><br>

    <table class="table" id="main_list">
        <thead>
                <th colspan="2">Information</th> <!--이름 부분과 버튼 부분의 열을 병합하여 Information란 -->
        </thead>
        <tbody>
            <tr>
            <td class="title">
                <a href="{% url 'user_list' %}">USER</a>
            </td>
            <td>
                <a href="{% url 'user_new' %}" type="button" class="btn btn-secondary">+</a>
            </td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <table class="table" id="main_list">
        <thead>
                <th colspan="2">Data</th>
        </thead>
        <tbody>
            <tr>
            <td class="title">
                <a href="{% url 'custom_store_list' %}">USER CUSTOM VEGAN STORE</a>
            </td>
            <td>
                <a href="{% url 'custom_store_new' %}" type="button" class="btn btn-secondary">+</a>
            </td>
            </tr>

            <tr>
            <td class="title">
                <a href="{% url 'good_list' %}">MARKET GOODS</a>
            </td>
            <td>
                <a href="{% url 'good_new' %}" type="button" class="btn btn-secondary">+</a>
            </td>
            </tr>

            <tr>
                <td class="title">
                    <a href="{% url 'comment_list' %}">MARKET COMMENT</a>
                </td>
                <td>
                    <a href="" type="button" class="btn btn-secondary">+</a>
                </td>
                </tr>
        </tbody>
    </table>
</body>
</html>